<!DOCTYPE html>
<html>

<!-- Mirrored from coderthemes.com/zircos/default/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 27 Jan 2018 19:00:45 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/Content/images/favicon.ico">
    <!-- App title -->
    <title>Zircos - Responsive Admin Dashboard Template</title>
    <!--Morris Chart CSS -->
    <link rel="stylesheet" href="~/plugins/morris/morris.css">
    <!-- App css -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/core.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/components.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/pages.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/menu.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/responsive.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/plugins/switchery/switchery.min.css">
    <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script src="~/Content/js/modernizr.min.js"></script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '../../../www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-83057131-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>

<body class="fixed-left">
    @RenderBody()
    <!-- Begin page -->
    <div id="wrapper">
        <!-- Top Bar Start -->
        <div class="topbar">
            <!-- LOGO -->
            <div class="topbar-left">
                <a href="#" class="logo"><span>SP<span>OR<span>TY</span></span></span><i class="mdi mdi-layers"></i></a>
                <!-- Image logo -->
                <!--<a href="index.html" class="logo">-->
                <!--<span>-->
                <!--<img src="assets/images/logo.png" alt="" height="30">-->
                <!--</span>-->
                <!--<i>-->
                <!--<img src="assets/images/logo_sm.png" alt="" height="28">-->
                <!--</i>-->
                <!--</a>-->
            </div>
            <!-- Button mobile view to collapse sidebar menu -->
            <div class="navbar navbar-default" role="navigation">
                <div class="container">
                    <!-- Navbar-left -->
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <button class="button-menu-mobile open-left waves-effect">
                                <i class="mdi mdi-menu"></i>
                            </button>
                        </li>
                        <li class="hidden-xs">
                            <form role="search" class="app-search">
                                <input type="text" placeholder="Buscar..."
                                       class="form-control">
                                <a href="#"><i class="fa fa-search"></i></a>
                            </form>
                        </li>
                        <li class="hidden-xs">
                            <a href="#" class="menu-item">Nueva Anotación</a>
                        </li>
                        <li class="dropdown hidden-xs">
                            <a data-toggle="dropdown" class="dropdown-toggle menu-item" href="#" aria-expanded="false">
                                Español
                                <span class="caret"></span>
                            </a>
                            <ul role="menu" class="dropdown-menu">
                                <li><a href="#">Inglés</a></li>
                                <li><a href="#">Francés</a></li>
                                <li><a href="#">Alemán</a></li>
                                <li><a href="#">Italiano</a></li>
                            </ul>
                        </li>
                    </ul>
                    <!-- Right(Notification) -->
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#" class="right-menu-item dropdown-toggle" data-toggle="dropdown">
                                <i class="mdi mdi-bell"></i>
                                <span class="badge up bg-success">4</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right arrow-dropdown-menu arrow-menu-right dropdown-lg user-list notify-list">
                                <li>
                                    <h5>Notifications</h5>
                                </li>
                                <li>
                                    <a href="#" class="user-list-item">
                                        <div class="icon bg-info">
                                            <i class="mdi mdi-account"></i>
                                        </div>
                                        <div class="user-desc">
                                            <span class="name">Nuevo Registro</span>
                                            <span class="time">Hace 5 horas</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="user-list-item">
                                        <div class="icon bg-danger">
                                            <i class="mdi mdi-comment"></i>
                                        </div>
                                        <div class="user-desc">
                                            <span class="name">Nuevo mensaje recibido</span>
                                            <span class="time">Hace un día</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="user-list-item">
                                        <div class="icon bg-warning">
                                            <i class="mdi mdi-settings"></i>
                                        </div>
                                        <div class="user-desc">
                                            <span class="name">Ajustes</span>
                                            <span class="time">Hace un día</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="all-msgs text-center">
                                    <p class="m-0"><a href="#">Ver todas las notificaciones</a></p>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="right-menu-item dropdown-toggle" data-toggle="dropdown">
                                <i class="mdi mdi-email"></i>
                                <span class="badge up bg-danger">8</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right arrow-dropdown-menu arrow-menu-right dropdown-lg user-list notify-list">
                                <li>
                                    <h5>Mensajes</h5>
                                </li>
                                <li>
                                    <a href="#" class="user-list-item">
                                        <div class="avatar">
                                            <img src="~/Content/images/users/avatar-2.jpg" alt="">
                                        </div>
                                        <div class="user-desc">
                                            <span class="name">Patricia Beach</span>
                                            <span class="desc">¿Irá mañana al entrenamiento?</span>
                                            <span class="time">Hace 2 horas</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="user-list-item">
                                        <div class="avatar">
                                            <img src="~/Content/images/users/avatar-3.jpg" alt="">
                                        </div>
                                        <div class="user-desc">
                                            <span class="name">Connie Lucas</span>
                                            <span class="desc">Hubo un problema con Javer Pérez</span>
                                            <span class="time">Hace 20 minutos</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="user-list-item">
                                        <div class="avatar">
                                            <img src="~/Content/images/users/avatar-4.jpg" alt="">
                                        </div>
                                        <div class="user-desc">
                                            <span class="name">Margaret Becker</span>
                                            <span class="desc">Resultados positivos sobre el nuevo jugador</span>
                                            <span class="time">Hace 1 día</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="all-msgs text-center">
                                    <p class="m-0"><a href="#">Ver todos los mensajes</a></p>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="right-bar-toggle right-menu-item">
                                <i class="mdi mdi-settings"></i>
                            </a>
                        </li>
                        <li class="dropdown user-box">
                            <a href="#" class="dropdown-toggle waves-effect user-link" data-toggle="dropdown" aria-expanded="true">
                                <img src="~/Content/images/users/avatar-1.jpg" alt="user-img" class="img-circle user-img">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right arrow-dropdown-menu arrow-menu-right user-list notify-list">
                                <li>
                                    <h5>Hi, John</h5>
                                </li>
                                <li><a href="javascript:void(0)"><i class="ti-user m-r-5"></i> Perfil</a></li>
                                <li><a href="javascript:void(0)"><i class="ti-settings m-r-5"></i> Ajustes</a></li>
                                <li><a href="javascript:void(0)"><i class="ti-lock m-r-5"></i> Bloquear</a></li>
                                <li><a href="javascript:void(0)"><i class="ti-power-off m-r-5"></i> Salir</a></li>
                            </ul>
                        </li>
                    </ul> <!-- end navbar-right -->
                </div><!-- end container -->
            </div><!-- end navbar -->
        </div>
        <!-- Top Bar End -->
        <!-- ========== Left Sidebar Start ========== -->
        <div class="left side-menu">
            <div class="sidebar-inner slimscrollleft">
                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <ul>
                        <li class="menu-title">Navegar</li>
                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-view-dashboard"></i><span class="label label-success pull-right">2</span> <span> Principal </span> </a>
                            <ul class="list-unstyled">
                                <li><a href="#">Mis entrenamientos</a></li>
                                <li><a href="#">Equipos y Jugadores</a></li>
                                <li><a href="~/Coachs/Index">Entrenadores</a></li>


                            </ul>
                        </li>

                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-layers"></i><span> Perfil </span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled">
                                <li><a href="#">Mi perfil</a></li>
                                <li><a href="#">Buscar perfil</a></li>
                                <li><a href="~/Athlete/Index">Mis atletas</a></li>
                                <li><a href="#">Otros atletas</a></li>
                                <li><a href="#">Otros entrenadores</a></li>

                            </ul>
                        </li>
                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-layers"></i><span> Bitácoras </span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled">
                                <li><a href="#">Mis bitácoras</a></li>
                               

                            </ul>
                        </li>


                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-heart-outline"></i><span> Encuestas </span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled">
                                <li><a href="~/Athletes/Index">Mis encuestas</a></li>

                            </ul>
                        </li>

                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-format-list-bulleted"></i> <span> Atletas </span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled">
                                <li><a href="~/Teams/Index">Equipos</a></li>

                            </ul>
                        </li>
                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-format-list-numbers"></i> <span> Categorías </span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled">
                                <li><a href="~/Disciplines/Index">Por Edad</a></li>
                                <li><a href="~/Disciplines/Index">Por Disciplinas</a></li>

                            </ul>
                        </li>
                        

                        <li class="menu-title">Organización de planes</li>
                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-comment-text-outline"></i><span> Planes de Trabajo</span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled">
                                <li><a href="#">Planes de Trabajo</a></li>
                                <li><a href="#">Macrociclos</a></li>
                                <li><a href="#">Mesociclos</a></li>
                                <li><a href="~/WorkWeek/Index">Semanas de Entrenamiento</a></li>
                                <li><a href="#">Mensajes</a></li>
                                <li><a href="#">Editor de Notas</a></li>
                                <li><a href="#">FODA</a></li>

                            </ul>
                        </li>
                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-home-map-marker"></i><span> Anuncios </span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled">
                                <li><a href="#">Mis anuncios</a></li>
                                <li><a href="#">Realizar anuncio</a></li>

                        </li>
                    </ul>
                </div>
                <!-- Sidebar -->
                <div class="clearfix"></div>
                <div class="help-box">
                    <h5 class="text-muted m-t-0">Soporte y ayuda ?</h5>
                    <p class=""><span class="text-custom">Email:</span> <br /> support@support.com</p>
                    <p class="m-b-0"><span class="text-custom">Call:</span> <br /> (+123) 123 456 789</p>
                </div>
            </div>
            <!-- Sidebar -left -->
        </div>
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
       
        <!-- ============================================================== -->
        <!-- End Right content here -->
        <!-- ============================================================== -->
        <!-- Right Sidebar -->
        <div class="side-bar right-bar">
            <a href="javascript:void(0);" class="right-bar-toggle">
                <i class="mdi mdi-close-circle-outline"></i>
            </a>
            <h4 class="">Opciones</h4>
            <div class="setting-list nicescroll">
                <div class="row m-t-20">
                    <div class="col-xs-8">
                        <h5 class="m-0">Notificaciones</h5>
                        <p class="text-muted m-b-0"><small>Buenos días</small></p>
                    </div>
                    <div class="col-xs-4 text-right">
                        <input type="checkbox" checked data-plugin="switchery" data-color="#7fc1fc" data-size="small" />
                    </div>
                </div>
                <div class="row m-t-20">
                    <div class="col-xs-8">
                        <h5 class="m-0">API</h5>
                        <p class="m-b-0 text-muted"><small>Habilidad/Quitar acceso al API</small></p>
                    </div>
                    <div class="col-xs-4 text-right">
                        <input type="checkbox" checked data-plugin="switchery" data-color="#7fc1fc" data-size="small" />
                    </div>
                </div>
                <div class="row m-t-20">
                    <div class="col-xs-8">
                        <h5 class="m-0">Auto Actualizaciones</h5>
                        <p class="m-b-0 text-muted"><small>Mantenerse al día</small></p>
                    </div>
                    <div class="col-xs-4 text-right">
                        <input type="checkbox" checked data-plugin="switchery" data-color="#7fc1fc" data-size="small" />
                    </div>
                </div>
                <div class="row m-t-20">
                    <div class="col-xs-8">
                        <h5 class="m-0">Estatus online</h5>
                        <p class="m-b-0 text-muted"><small>Mostrar estatus a todos</small></p>
                    </div>
                    <div class="col-xs-4 text-right">
                        <input type="checkbox" checked data-plugin="switchery" data-color="#7fc1fc" data-size="small" />
                    </div>
                </div>
            </div>
        </div>
        <!-- /Right-bar -->
    </div>
    <!-- END wrapper -->

    <script>
        var resizefunc = [];
    </script>
    <!-- jQuery  -->
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/detect.js"></script>
    <script src="~/Content/js/fastclick.js"></script>
    <script src="~/Content/js/jquery.blockUI.js"></script>
    <script src="~/Content/js/waves.js"></script>
    <script src="~/Content/js/jquery.slimscroll.js"></script>
    <script src="~/Content/js/jquery.scrollTo.min.js"></script>
    <script src="~/plugins/switchery/switchery.min.js"></script>
    <!-- Counter js  -->
    <script src="~/plugins/waypoints/jquery.waypoints.min.js"></script>
    <script src="~/plugins/counterup/jquery.counterup.min.js"></script>
    <!--Morris Chart-->
    <script src="~/plugins/morris/morris.min.js"></script>
    <script src="~/plugins/raphael/raphael-min.js"></script>
    <!-- Dashboard init -->
    <script src="~/Content/pages/jquery.dashboard.js"></script>
    <!-- App js -->
    <script src="~/Content/js/jquery.core.js"></script>
    <script src="~/Content/js/jquery.app.js"></script>
</body>
<!-- Mirrored from coderthemes.com/zircos/default/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 27 Jan 2018 19:01:39 GMT -->
</html>